*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/rails-system/.bundle
/rails-system/vendor/bundle
/rails-system/log/*
/rails-system/tmp/*
/rails-system/db/*.sqlite3
/rails-system/public/system/*
/rails-system/coverage/
/rails-system/spec/tmp/*
**.orig
/rails-system/config/*.yml
/rails-system/rerun.txt
/rails-system/log/restart.txt

